/* 
    - The biggest problem I ran into here was the box model biting me in the ass. 
        - Originally the .ads class kept wrapping below everything else
        - The instructor with the beard from immersive program told me that the border was adding extra pixels
            - So even though I had a fixed width in my overall container, the last div ended up running over the fixed width, thus wrapping
            - He told me to ask about the border-box hack, so if I don't get to it in class, then this is me asking about it
*/

* {
    box-sizing: border-box; /* border box hack */
}

.container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: center;
    width: 960px;
    height: 720px;
}

.header {
    background-color: cornflowerblue;
    border: 5px solid black;
    width: 100%;
    height: 144px;
    text-align: center;
}

.menu {
    background-color: darkorchid;
    text-decoration: none;
    border: 5px solid black;
    width: 192px;
    height: 432px;
}

.content {
    background-color: coral;
    border: 5px solid black;
    width: 576px;
    height: 432px;
}

.content h1 {
    text-align: center;
}

.ads {
    text-align: center;
    background-color: darkorchid;
    border: 5px solid black;
    width: 192px;
    height: 432px; 
} 

.footer {
    text-align: center;
    border: 5px solid black;
    width: 100%;
    height: 144px;
    background-color: cornflowerblue;
}